@model IEnumerable<SunnyHomeCare.Models.Visit>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Caretaker Name
        </th>
        <th>
            Patient Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caretaker.User.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.User.Firstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
