@model SunnyHomeCare.Models.Visit

@{
    ViewBag.Title = "CreateVisit";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
    int PatientId = ViewBag.PatientId;
}
<h2>Upcoming Visits</h2>
@Html.Action("GetVisits", "Admin",  new {patientId = PatientId});

<h2>Create Visit</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Patient_id, "Patient_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Patient_id, new { htmlAttributes = new { @class = "form-control", @Value = PatientId } })
                @Html.ValidationMessageFor(model => model.Patient_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "date"} })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Caretaker_id, "Caretaker_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Caretaker_id", null, htmlAttributes: new { @class = "form-control", @id = "careTakerId" })
                @Html.ValidationMessageFor(model => model.Caretaker_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div id="careTakerInfo">

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Visits")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>

    $("#careTakerId").change(function () {
        fetchCareTakerInfo();
    });

    window.onload = function () {
        fetchCareTakerInfo();

        
    }

    function fetchCareTakerInfo() {
        var val = $("#careTakerId").val();
        console.log(val);
        $.ajax({
            url: "/Admin/CareTakerInfo",
            type: "GET",
            data: { careTakerId: val }
        }).done(function (partialViewResult) {
            $("#careTakerInfo").html(partialViewResult);
        });
    }

</script>
